<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorate="layout/layout">
<head th:replace="layout/base :: common_head(~{::title},~{::script},~{::link})">
<!-- 右侧内容页面 -->
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/BootStrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/homepage/PicCarousel.js}"></script>
<script type="text/javascript" th:src="@{/js/homepage/homepage.js}"></script>
<link rel="stylesheet" th:href="@{/css/common/page.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/homepage/normalize.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/homepage/default.css}">
<link rel="stylesheet" th:href="@{/css/homepage/style.css}">
</head>
<body>
<div layout:fragment="content">
	主页
</div>
</div>
</body>
</html>