<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/BootStrap/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/JQuery/jquery-3.5.1.js}"></script>
</head>
<body>
	<div class="container">
		<br />
		<table class="text-center table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">#</th>
					<th class="text-center">Username</th>
					<th class="text-center">Password</th>
					<th class="text-center">operation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user, status : ${users}">
					<td th:text="${user.id}" style="display: none" id="userId">1</td>
					<td th:text="${status.count}">1</td>
					<td th:text="${user.username}">admin</td>
					<td th:text="${user.password}">admin</td>
					<td>
						<a th:href="@{/toUpdate/{id}(id=${user.id})}" class="btn btn-primary btn-xs active" role="button">update</a>
						<a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-default btn-xs active" role="button">delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a th:href="@{/user/add}" class="btn btn-primary btn-lg active" role="button">add</a>
		</div>
	</div>
</body>
</html>