<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>测试用页面</title>
<link rel="stylesheet" th:href="@{/BootStrap/css/bootstrap.min.css}" >
<link rel="stylesheet" th:href="@{css/common/login.css}" >
<script type="text/javascript" th:src="@{JQuery/jquery-3.5.1.js}"></script>
</head>
<body>
<img id="imgSignCode" src="../signcode/signcode/get.do" onclick="reloadCode()" title="重新获取" style="cursor:pointer;"/>  
</body>
<script type="text/javascript">
      function reloadCode() {           
 document.getElementById("imgSignCode").src="../signcode/signcode/get.do?r=" + new Date().getTime();
 }
      </script>
</html>